# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
env/
venv/

# Logs
*.log
log/

# Media uploads
media/
data/


# Scripts
scripts/

# macOS
.DS_Store

# Flask
instance/
*.log

# VSCode
.vscode/

# Videos/Bilder generiert
static/images/*.thumb.*
