[Unit]
Description=Signage Player
Wants=network-online.target
After=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/raspi-signage
ExecStart=/home/pi/raspi-signage/.venv/bin/python signage.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target